.Loser {
  background-color: rgba(222, 55, 52, 0.899);
  border: solid rgb(63, 70, 15) 5px;
  box-shadow: 0 4px 50px rgb(101, 38, 38), 0 6px 12px rgb(85, 85, 85);
}

.Loser button {
  background-color: rgb(63, 70, 15);
  color: rgb(221, 255, 0);
}

.Loser button:hover {
  background-color: rgba(63, 70, 15, 0.31);
  color: rgb(221, 255, 0);
}

.Rules {
  background-color: rgb(46, 193, 46, 0.899);
  border: solid rgb(221, 255, 0) 5px;
  box-shadow: 0 4px 50px rgb(70, 114, 19), 0 6px 12px rgb(143, 152, 22);
}

.Rules button {
  background-color: olivedrab;
  color: rgb(221, 255, 0);
}

.Rules button:hover {
  background-color: rgba(106, 142, 35, 0.509);
  color: rgb(221, 255, 0);
}

.swal-text {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
}

.title {
  margin-bottom: 2%;
  text-align: center;
  width: 90%;
}

.Winner {
  background-color: rgba(245, 104, 43, 0.899);
  border: solid rgb(181, 54, 120) 5px;
  box-shadow: 0 4px 8px rgb(121, 71, 28), 0 6px 12px rgb(85, 85, 85);
}

.Winner button {
  background-color: rgb(181, 54, 120);
  color: rgb(221, 255, 0);
}

.Winner button:hover {
  background-color: rgba(181, 54, 120, 0.509);
  color: rgb(221, 255, 0);
}