.brand {
    font-weight: bold;
    font-size: 4em;
    margin-left: 2%;
}

.navbar {
    background-color: rgb(213, 66, 159);
    margin-bottom: 1%;
}

.scores {
    border: solid yellow 2px;
    color: whitesmoke;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
}